---
layout: default
title: Малюнки
permalink: /drawings/
---

<div class="posts">
  {% assign posts = site.tags.drawings %}

  {% if posts %}
    {% for post in posts %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
    {% endfor %}
  {% else %}
    <div class="post">
      <p>Поки що тут немає дописів.</p>
    </div>
  {% endif %}
</div>
